* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*I made the whole proportion to adapt to screen size. So that different screen size can be used. vw and vh is for that*/
html, body {
	background-color: #000;
	height: 100vh;
	width: 100vw;
}
form {
	font-size: 3vh;
}
input {
	font-size: 3vh;
	padding: 5px;
}
input[type="radio"] {
	height: 3vh;
	width: 3vh;
}

input.big {
	height: 10vh;
	width: 80vw;
}

select {
	height: 4vh;
	width: auto;
	font-size: 3vh;
}
.header {
	display: block;
	width: 100vw;
	height: 5vh;
	color: #fff;
	font-size: 5vh;
	text-align: center;
}

.back {
	width: 13vw;
	height: 5vh;
	text-align: center;
	font-size: 3vh;
	float:left;
}

.container {
	display: block;
	width: 90vw;
	background-color: #fff;
	height: 90vh;
	position: absolute;
	line-height: 7vh;
	margin: 3vw;
	padding: 2vw;
}
.container p {
	font-size: 5vh;
	text-align: center;
	margin: auto;
}
/*centralize the image */
.container img {
	height: 50%;
	width: 80%;
}

.box {
	width: 100%;
	float: left;
	height: 10vh;
	display: block;
	text-decoration: none;
	position: relative;
	transition: all, 0.2s;
}
.box:active {
 -moz-transform: scale(1.2, 1.2);
 -ms-transform: scale(1.2, 1.2);
 -webkit-transform: scale(1.2, 1.2);
 transform: scale(1.2, 1.2);
 transition: all, 0.2s;
 z-index: 100000;
}
#outpass {
	background-color: #3B5998;
}
#nightout {
	background-color: #4099FF;
}
#leave {
	background-color: #c73b6f;
}
#contact {
	background-color: #cb2028;
}
#pending {
	background-color: #D68910;
}
#approve {
	background-color: #7DCEA0;
}